
  <footer class="site-footer">
    <div class="container" style="background-color: black">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6 style="font-family:'Koulen', cursive ">KURUF</h6>
         
        </div>

        <div class="col-xs-6 col-md-3">
          
          <ul class="footer-links" style="color: white">
            <li><a href="http://scanfcode.com/category/c-language/">NOSOTROS</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">MENU</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">CATERING</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">FRANQUICIAS</a></li>
            <li><a href="http://scanfcode.com/category/android/">PEDIDOS YA</a></li>
            <li><a href="http://scanfcode.com/category/templates/">RAPPI</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h1 style="font-family:'Koulen', cursive; color: WHITE;">CONTACTO</h1>
          <h6 style="font-family:'Koulen', cursive ">CORREO</h6>
          <ul class="footer-links">
            <li><p>kuruf@gmail.com</p></li>
            

          </ul>

          <h6 style="font-family:'Koulen', cursive ">REDES SOCIALES</h6>
          <ul class="social-icons">
            <li><a ><i class="fa fa-facebook"></i></a></li>
            <li><a ><i class="fa fa-facebook"></i></a></li>

          </ul>
        </div>

        
      </div>
     
    </div>
    
</footer>