
  <footer class="site-footer">
    <div class="container" style="background-color: black">
      
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6 style="font-family:'Koulen', cursive ">KURUF</h6>
        </div>

        <div class="col-xs-6 col-md-3">
          
          <ul class="footer-links" style="color: white">
            <li><a href="#nosotros" style="color: white" >NOSOTROS</a></li>
            <li><a href="#menu" style="color: white">MENU</a></li>
            <li><a href="#catering" style="color: white">CATERING</a></li>
            <li><a href="#info" style="color: white">EVENTOS Y FESTEJOS</a></li>
            <li><a href="#contacto" style="color: white">CONTACTANOS</a></li>
            <li><a href="https://www.rappi.com.ar/restaurantes/112022-cerveceria-ipa" style="color: white">RAPPI</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h1 style="font-family:'Koulen', cursive; color: WHITE;">CONTACTO</h1>
          <h6 style="font-family:'Koulen', cursive ">CORREO</h6>

          <ul class="footer-links">
            <li><p style="color: white;">kuruf@gmail.com</p></li>
          </ul>

          <h6 style="font-family:'Koulen', cursive ">REDES SOCIALES</h6>

          <ul class="social-icons">
            <li><a href="https://www.instagram.com/cerveceria.kuruf/?hl=es"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/cerveceriakuruf?lang=es"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>

      </div>
     
    </div>
</footer>