

<div class="container my-5 d-grid gap-5">
    <h1 style="font-family:'Koulen', cursive ; text-align: center;font-size: 90px;" >MENU</h1>
   

    <div class="row mx-auto d-flex flex-wrap align-items-around " >
      <div class="col-3" >

        <img src="https://cdn-prod.flou.com.ar/images/800x450/1984fa0c-af8d-43e2-9fb5-8e825b168cca.jpg" class="card-img-top" alt="..." style="width: 18rem">
        
        <div class="card col" style="width: 18rem; background-color: black; border-radius: 0">
          <div class="card-body">
            <h3 style="font-family:'Koulen', cursive ; text-align: center;color: white;">Fresh Salmon</h3>
            <p class="card-text" style="color: white; text-align: center;">Filet de salmón fresco asado a la leña, acompañado de cous-cous o Cole-Slaw.</p>
          </div>
        </div>
        
      </div>
      
      <div class="col-3" >
        <img src="https://cdn-prod.flou.com.ar/images/800x450/1984fa0c-af8d-43e2-9fb5-8e825b168cca.jpg" class="card-img-top" alt="..." style="width: 18rem">
        <div class="card col" style="width: 18rem; background-color: black; border-radius: 0">
          <div class="card-body">
            <h3 style="font-family:'Koulen', cursive ; text-align: center;color: white;">Fresh Salmon</h3>
            <p class="card-text" style="color: white; text-align: center;">Filet de salmón fresco asado a la leña, acompañado de cous-cous o Cole-Slaw.</p>
          </div>
        </div>
      </div>

      <div class="col-3" >
        <img src="https://cdn-prod.flou.com.ar/images/800x450/35f81588-836d-4838-9a05-aca820cfc6b7.jpg" class="card-img-top" alt="..." style="width: 18rem">
        <div class="card col" style="width: 18rem; background-color: black; border-radius: 0">
          <div class="card-body">
            <h3 style="font-family:'Koulen', cursive ; text-align: center;color: white;">Fresh Salmon</h3>
            <p class="card-text" style="color: white; text-align: center;">Filet de salmón fresco asado a la leña, acompañado de cous-cous o Cole-Slaw.</p>
          </div>
        </div>
      </div>

      <div class="col-3" >
        <img src="https://cdn-prod.flou.com.ar/images/800x450/33b96c33-07f8-43a3-ab10-0374dbccf2a0.jpg" class="card-img-top" alt="..." style="width: 18rem">
        <div class="card col" style="width: 18rem; background-color: black; border-radius: 0">
          <div class="card-body">
            <h3 style="font-family:'Koulen', cursive ; text-align: center;color: white;">Fresh Salmon</h3>
            <p class="card-text" style="color: white; text-align: center;">Filet de salmón fresco asado a la leña, acompañado de cous-cous o Cole-Slaw.</p>
          </div>
        </div>
      </div>

      <div class="col-3" style="padding-top: 30PX;">
        <img src="http://www.tucsonrestaurante.com.ar/images/menus/seafood-chicken-02.jpg" class="card-img-top" alt="..." style="width: 18rem">
        <div class="card col" style="width: 18rem; background-color: black; border-radius: 0">
          
          <div class="card-body">
            <h3 style="font-family:'Koulen', cursive ; text-align: center;color: white;">Fresh Salmon</h3>
            <p class="card-text" style="color: white; text-align: center;">Filet de salmón fresco asado a la leña, acompañado de cous-cous o Cole-Slaw.</p>
          </div>
        </div>
      </div>

      <div class="col-3" style="padding-top: 30PX;">
        <img src="http://www.tucsonrestaurante.com.ar/images/menus/seafood-chicken-02.jpg" class="card-img-top" alt="..." style="width: 18rem">
        <div class="card col" style="width: 18rem; background-color: black; border-radius: 0">
          
          <div class="card-body">
            <h3 style="font-family:'Koulen', cursive ; text-align: center;color: white;">Fresh Salmon</h3>
            <p class="card-text" style="color: white; text-align: center;">Filet de salmón fresco asado a la leña, acompañado de cous-cous o Cole-Slaw.</p>
          </div>
        </div>
      </div>

      <div class="col-3" style="padding-top: 30PX;">
        <img src="http://www.tucsonrestaurante.com.ar/images/menus/seafood-chicken-02.jpg" class="card-img-top" alt="..." style="width: 18rem">
        <div class="card col" style="width: 18rem; background-color: black; border-radius: 0">
          
          <div class="card-body">
            <h3 style="font-family:'Koulen', cursive ; text-align: center;color: white;">Fresh Salmon</h3>
            <p class="card-text" style="color: white; text-align: center;">Filet de salmón fresco asado a la leña, acompañado de cous-cous o Cole-Slaw.</p>
          </div>
        </div>
      </div>

      <div class="col-3" style="padding-top: 30px;">
        <img src="http://www.tucsonrestaurante.com.ar/images/menus/seafood-chicken-02.jpg" class="card-img-top" alt="..." style="width: 18rem">
        <div class="card col" style="width: 18rem; background-color: black; border-radius: 0">
          
          <div class="card-body">
            <h3 style="font-family:'Koulen', cursive ; text-align: center;color: white;">Fresh Salmon</h3>
            <p class="card-text" style="color: white; text-align: center;">Filet de salmón fresco asado a la leña, acompañado de cous-cous o Cole-Slaw.</p>
          </div>
        </div>
      </div>
      
    </div>

</div>

  

    