<div  class="pagepadding" >

    <div class="container my-5 d-grid gap-5">

      <h1 style="font-family:'Koulen', cursive ; text-align: center;font-size: 90px;" >NOSOTROS</h1>

      <div style="background-color: BLACK;">
  
        <div class="row text-white">
          <div class="col">
              <p>Kürüf inició hace apenas tres años y medio. El grupo de trabajo está compuesto por ocho personas, que se distribuyen la tarea de fabricación, administración y venta. “Buscamos construir el concepto de cervecería local. Generar una imagen, cuidar los detalles. Para eso es necesario conseguir que al equipo de trabajo se sume gente romántica como uno. Y eso es lo que hemos logrado”, se enorgullece Vrlica.</p>
              <p>Pese al aire alemán que ostenta el nombre y la estética con que se presenta, “kürüf” es una palabra mapuche que significa “viento del sur”.</p>
              <p>La marca tiene inserción en todas las capas sociales de la ciudad. “Llegan clientes en camioneta 4×4 y detrás entran otros que vienen en bicicleta” explican quienes atienden al público.</p>
            </div>
          <div class="col">
              
              <p>Kürüf inició hace apenas tres años y medio. El grupo de trabajo está compuesto por ocho personas, que se distribuyen la tarea de fabricación, administración y venta. “Buscamos construir el concepto de cervecería local. Generar una imagen, cuidar los detalles. Para eso es necesario conseguir que al equipo de trabajo se sume gente romántica como uno. Y eso es lo que hemos logrado”, se enorgullece Vrlica.</p>
              <p>Pese al aire alemán que ostenta el nombre y la estética con que se presenta, “kürüf” es una palabra mapuche que significa “viento del sur”.</p>
              <p>La marca tiene inserción en todas las capas sociales de la ciudad. “Llegan clientes en camioneta 4×4 y detrás entran otros que vienen en bicicleta” explican quienes atienden al público.</p>
          </div>
        </div>

      </div>

    </div>

  </div>
