<div  class="pagepadding" style="background-color: BLACK;" >
  <div class="container my-5 d-grid gap-5">
    <!--titulo-->
    <h1 class="mt-5" style="font-family:'Koulen', cursive ; text-align: center;font-size: 90px; color:white; " >NOSOTROS</h1>
    <div style="background-color: BLACK;">
      <!--texo con informacion-->
      <div class="row text-white mb-3">
        <div class="col mb-5">
          <p>Kürüf inició hace apenas tres años y medio. El grupo de trabajo está compuesto por ocho personas, que se distribuyen la tarea de fabricación, administración y venta. “Buscamos construir el concepto de cervecería local. Generar una imagen, cuidar los detalles. Para eso es necesario conseguir que al equipo de trabajo se sume gente romántica como uno. Y eso es lo que hemos logrado”, se enorgullece Vrlica.</p>
          <p>Cuando comenzó el boom de los botellones y las recargas, la fábrica cipoleña Kürüf tuvo más de dos cuadras de cola en la puerta de su local en el barrio San Pablo. Gente con reposeras esperaba su turno para pasar a retirar el envase de vidrio que en un principio por orden de llegada y luego por preventa fueron apareciendo y copando el mercado.</p>
          <p>También fueron pioneros a la hora de alquilar barriles con canillas de forma particular. Mientras tanto el país comenzaba a surfear una ola de cerveza que despegaba de las viejas fórmulas rústicas que se elaboraban artesanalmente a baja escala.</p>
        </div>
        <div class="col mb-5">
          <p>Pese al aire alemán que ostenta el nombre y la estética con que se presenta, “kürüf” es una palabra mapuche que significa “viento del sur”.</p>
          <p>La marca tiene inserción en todas las capas sociales de la ciudad. “Llegan clientes en camioneta 4×4 y detrás entran otros que vienen en bicicleta” explican quienes atienden al público.</p>
          <p>Se trabajan cuatro estilos: golden, pale ale, IPA y stout. Generalmente, las preferencias varían con la edad. La gente mayor prefiere la cerveza suave y tradicional, mientras que los jóvenes buscan probar sabores más fuertes.</p>
          <p>La aceptación del producto generó un crecimiento progresivo de la demanda, que trajo consigo la necesidad de producir más. Es por ello que la empresa ya trabaja en lo que será su nueva planta de producción en el radio céntrico de la ciudad, donde esperan además contar con un espacio para la degustación, donde lo turístico se sume a la propuesta. Actualmente se producen entre 15.000 y 20.000 litros por mes, dependiendo de la demanda de distintas variedades. La nueva fábrica permitirá no sólo incrementar el volumen, sino ofrecer otras variedades.</p>
        </div>
      </div >
    </div>
  </div>
</div>
