

<h1 style="font-family:'Koulen', cursive ; text-align: center;font-size: 90px;" class="pt-5 pb-5" id="menu" >MENU</h1>

<div class="row">

    <div class="col" *ngFor="let menu of entrada">
        <div class="card" style="width: 18rem;" >
            
        <img [src]="menu.img" class="card-img-top" alt="...">

        <div class="card-body">
            
            <h5 class="card-title text-center">{{menu.comida}}</h5>
            <p class="card-text text-center">{{menu.descripcion}}</p>
            
        </div>
    </div>

    <div style="display: flex; justify-content:center">

    <button  id="botonAgregarForm" class="btn btn-primary" (click)="mostrarEditar(menu)" style="border-radius: 50%; width: 50px; height: 50px; background-color: black;"><i class="fa-solid fa-pen"></i></button>
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="mostrarEliminar(menu)" style="border-radius: 50%; width: 50px; height: 50px; background-color: black;">
        <i class="fa-solid fa-trash"></i>
    </button>

   

</div>  


  
<!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          
        </div>
        <div class="modal-body">
          <p>¿Desea eliminar el menuu?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="eliminarMenu()">Eliminar</button>
        </div>
      </div>
    </div>
</div>

<!-- Button trigger modal Formulario-->
<div style="display: flex; justify-content:center">
    <button type="button" class="btn btn-primary" (click)="mostrarDialogo()" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: black;">
        Agregar Menu
    </button>
</div>

<!-- Modal Formulario -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Comida</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <form [formGroup]="nuevoMenu">

                <img [src]="imagen" alt="aun no hay imagen" id="previsualizacion">

                
        
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Comida</label>
                    <input type="email" class="form-control" formControlName="comida" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Descripcion</label>
                    <input type="password" class="form-control" formControlName="descripcion" id="exampleInputPassword1">
                </div>

                <input id="float-input" type="file" class="p-float-label" pInputText accept=".jpg, .png, .gif" (change)="cargarImagen($event)" formControlName="img">

            </form>
        </div>

        <div class="modal-footer">
        

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="actualizarMenu()">Editar</button>
        <button type="button" class="btn btn-primary" (click)="agregarMenu()">Actualizar</button>
        </div>
    
    
</div>
</div>



