
<div class="body" style="background-color: grey;">
    <div class="login">
          
        <div class="margin">
            <form [formGroup]="datosUsuarios"  >

                <h1 style="text-align: center;" class="myfont">Login</h1>

                <div class="input-group mb-3">
                    
                    <input formControlName="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                
                    <input formControlName="password" type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="boton">
                    <div class="row">
                        <button  type="button" class="btn btn-primary col" (click)="iniciaSesion()">Iniciar Sesion</button>
                        <button  type="button" class="btn btn-primary col" (click)="iniciarSesionConGoogle()">Iniciar Sesion con google</button>
                    </div>
                    
                </div>
                
            </form>
        </div>

    </div>

</div> 
