<p>login works!</p>
<div class="body">
    <div class="login">
        
        

        <form  *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">

            <img src="../../../assets/img/programmer.png" alt="">
            <h1>Login</h1>
            <div class="input-group mb-3">
                
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
            
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <br>
            <button type="submit" mat-raised-button color="primary" class="ancho" [disabled]="form.invalid">Ingresar</button>

        </form>


    </div>

</div>