
<div class="container ">
  <div class="row">
    <!--texto con informacion-->
    <div class="col" >
      <h1 style="font-family:'Koulen', cursive ; text-align: center;font-size: 90px; margin-bottom: 50px; margin-top: 0;">FOODTRUCK<br> & CATERING</h1>
      <p >¿Estas preparando una inauguración? ¿Una presentación de un producto? ¿Una celebración, un evento en la calle? ¡Dale un toque singular, único y elegante!</p>
      <p>Te asesoramos en todo lo que necesites, el menu mas adecuado para tu evento, un presupuesto acorde. Nuestra especialidad con los Sándwich; tal como: Bondiola braseada, Entraña provenzal, Papas Nativas, etc.</p>
    </div>
    <!--video con informacion-->
    <div class="col" >
      <iframe style="margin-bottom: 50px;" width="500" height="500" src="https://www.youtube.com/embed/RJGY4k9vIH4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>