
<div class="container ">
  
    <div class="row">
      <div class="col">
        <h1 style="font-family:'Koulen', cursive ; text-align: center;font-size: 90px;">FOODTRUCK<br> & CATERING</h1>
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quasi voluptatem cupiditate velit sunt eveniet dolor possimus atque autem reprehenderit cumque repellat illum adipisci, alias dolore culpa similique. At, adipisci.</p>
        <button type="button" class="btn btn-light" style="border-radius:0;">SOLICITAR INFO</button>
      </div>
      <div class="col pb-5">
        <iframe width="800" height="600" src="https://www.youtube.com/embed/RJGY4k9vIH4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    </div>

</div>