<!-- <h3 class="text-center my-5">Home</h3> -->

<!-- <div class="row">
    <div class="col" *ngFor="let producto of entrada">
        <div class="card" style="width: 18rem;" >
            
        <img [src]="producto.img" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-center">{{producto.nombre}}</h5>
            <p class="card-text text-center">{{producto.descripcion}}</p>
            <p class="card-text text-center">${{producto.precio}}</p>
            <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
        </div>
    </div>
</div> -->