/*carta*/


.card-body{
    background-color: black;
}

.card-text{
    color: white;
}

.card-title{
    color:white;
    font-family:'Koulen', cursive ;
    text-align: center;
    font-size: 30px;
}
img{
    border-radius: 0%;
}


