/* You can add global styles to this file, and also import other style files */
.myfont{
    font-family: 'Koulen', cursive;
    font-weight: 400;
    font-size: larger;
}

@font-face {
font-family: 'LemonJelly';
src: url('assets/font/Lemon\ Jelly\ Personal\ Use.ttf') ,
}

h1{
    color: black;
}