
<div>
  <!--imagen banner-->
  <div class="banner-image-first w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="content">
      <!--titulo-->
      <h1 class="myfont text-white" style="font-size: 100px;">EVENTOS Y FESTEJOS</h1>
      <p class="text-white">Conocé nuestra propuesta para eventos, adaptados a sus necesidades y requerimientos en los espacios de PIBA RECOVA. ¡Lo cerramos completo para tu festejo!</p>
      <!--boton-->
      <div class="learn-more-button"><a href="#main-footer">Ver Mas</a></div>
    </div>
  </div>
  <!--imagen banner-->
  <div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="content text-center">
      <!--titulo-->
      <h1 class="myfont text-white" style="font-size: 100px;">FRANQUICIAS</h1>
    </div>
  </div>
</div>