/*variables generales*/
$main-font: Montserrat, sans-serif;
$content-font: Roboto, sans-serif;
$h3-font: 'Kaushan Script', cursive;
$main-color: #fff;
$icon-color: #95e1d3;

/*imagenes banners*/
.banner-image {
    background-image: url('https://www.unidiversidad.com.ar/cache/pexels-elevate-1269043_1000_1100.jpg');
    background-size: cover;
}
.banner-image-first {
    background-image: url('https://neuquenalinstante-s2.cdn.net.ar/st2i1700/2022/11/neuquenalinstante2/images/25/48/254863_fdd7db2b6086dd3305ee48c5bfe1b577b4f94067b3222df6253bd6f62e8949a6/md.jpg');
   background-size: cover;
}

.bg-wrapper {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(255, 255, 255, 0.382), rgba(255, 255, 255, 0.522));
}

/*boton*/
.learn-more-button {
    padding-bottom: 5em;
    z-index: 15 !important;
    a {
        padding: 0.5em 2em;
        text-align: center;
        font-family: $main-font;
        font-size: 0.875em;
        color: $main-color;
        text-transform: uppercase;
        border: 0.1875em solid $main-color;
        &:hover {
            color: #e88382;
            border-color: #e88382;
            transition: 3s;
        }
    }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0b0b0b;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #000000;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: rgb(141,194,111);
  background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}