$main-color: black;
$main-font: Montserrat, sans-serif;
$content-font: Roboto, sans-serif;
$h3-font: 'Kaushan Script', cursive;
/*input*/
input {
outline: none;
display: block;
background: rgba(black, 0.1);
width: 100%;
border: 0;
border-radius: 4px;
box-sizing: border-box;
padding: 12px 20px;
color: gray;
font-family: inherit;
font-size: inherit;
font-weight: semibold;
line-height: inherit;
transition: 0.3s ease;}
    
textarea{
outline: none;
display: block;
background: rgba(black, 0.1);
width: 100%;
border: 0;
border-radius: 4px;
box-sizing: border-box;
padding: 12px 20px;
color: gray;
font-family: inherit;
font-size: inherit;
font-weight: semibold;
line-height: inherit;
transition: 0.3s ease;}

select{
outline: none;
display: block;
background: rgba(black, 0.1);
width: 100%;
border: 0;
border-radius: 4px;
box-sizing: border-box;
padding: 12px 20px;
color: gray;
font-family: inherit;
font-size: inherit;
font-weight: semibold;
line-height: inherit;
transition: 0.3s ease;}

button{
outline: none;
display: block;
color:white; 
background-color: black;
width: 100%;
border: 0;
border-radius: 4px;
box-sizing: border-box;
padding: 12px 20px;
margin-top: 30px;
margin-bottom: 30px;
font-family: inherit;
font-size: inherit;
font-weight: semibold;
line-height: inherit;
transition: 0.3s ease;}

.learn-more-button {
    padding-bottom: 5em;
    z-index: 15 !important;
    a {
        padding: 0.5em 2em;
        text-align: center;
        font-family: $main-font;
        font-size: 0.875em;
        color: $main-color;
        text-transform: uppercase;
        border: 0.1875em solid $main-color;
        &:hover {
            color: #e88382;
            border-color: #e88382;
            transition: 3s;
        }
    }
}
    