$main-color: black;
$main-font: Montserrat, sans-serif;
$content-font: Roboto, sans-serif;
$h3-font: 'Kaushan Script', cursive;

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/*input*/
input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}


    
textarea{
font-family: "Roboto", sans-serif;
outline: none;
display: block;
background: #f2f2f2;
width: 100%;
border: 0;
border-radius: 4px;
box-sizing: border-box;
padding: 12px 20px;
color: gray;
font-size: inherit;
font-weight: semibold;
line-height: inherit;
transition: 0.3s ease;}

label{
    font-family: "Roboto", sans-serif;
}

select{
outline: none;
display: block;
background: #f2f2f2;
width: 100%;
border: 0;
border-radius: 4px;
box-sizing: border-box;
padding: 12px 20px;
color: gray;
font-family: inherit;
font-size: inherit;
font-weight: semibold;
line-height: inherit;
transition: 0.3s ease;}


button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin: 5px;
    outline: 0;
    background: #0b0b0b;
    width: 100%;
    border: 0;
    border-radius: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
  
button:hover,.form button:active,.form button:focus {
    background: #000000;
    color: #FFFFFF;
}    